* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  font-size: 175%;
  text-align: center;
}

h2 {
  font-size: 125%;
  text-align: center
}

.container{
 position: relative;
 top:30px;
 margin: 0px 5px 5px 0px; 
 width: 100%;
}

.content{
  position: relative;
  top: 0;
  background-color:#d1cfcf;
  margin: 10px;
  padding: 25px;
  border: 3px solid black;
}

.content p{
  margin-top: 50px;
  text-align: justify;
}


#title1 {
  background-color: #E0E6F8;
  position: absolute;
  top: 0px;
  right : 0px;
  padding: 3px 10px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

#title2 {
  background-color: #CCCCFF;
  position: absolute;
  top: 0px;
  right : 0px;
  padding: 3px 10px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

#title3 {
  background-color: #F8E0EC;
  position: absolute;
  top: 0px;
  right : 0px;
  padding: 3px 10px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}



/********** Desktop devices only **********/
@media (min-width: 992px) {
  .d_s1 {
    float: left;   
    width: 33.33%;
  }
}

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .t_s1, .t_s2 {
    float: left;
  }
  .t_s1 {
    width: 50%;

  }
 .t_s2 {
    width: 100%;
  }
}

/********** Mobile devices only **********/
@media (max-width: 767px) {
  .m_s1 {
    float: left;
    width: 100%;
  }
}

